@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body {
   font-family: "Roboto", sans-serif;
   font-size: 20px;
}

.background_color_example {
   background-color: cadetblue;
   max-width: 300px;
   display: inline-block;
   margin-bottom: 50px;
}
.background_image_example {
   background-image: url(../img/brick_wall_background.jpg);
   display: inline-block;
   max-width: 300px;
   margin-bottom: 50px;
}

.gradient_example {
   background-image: linear-gradient(to bottom, rgb(154, 30, 137) 0%, rgba(126, 232, 200, 0) 100%);
}

p.repeat {
   background-image: url(../img/vader_logo.png);
   background-repeat: repeat;
   background-size: auto auto;
   color: rgb(255, 255, 255);
}

p.norepeat {
   display: inline-block;
   background-image: url(../img/heart_icon.png);
   background-repeat: no-repeat;  
}

.background_example {
   background: url(../img/heart_icon.png) 50% / cover no-repeat;
} 
